@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

:root {
  --main-color: #00467b;
  --white: #ffffff;
  --gray: #474b4f;
  --light-gray: #d4d4d4;
  --dark-gray: #222629;
  --secondary-color: #00467b;
}

#home {
  background-image: url("../imagens/christian-perner-UKLIuV8rAks-unsplash.jpg");
  background-size: 100% 100%;
}

/** BASE **/
html {
  background-color: var(--white);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.1em;
}

/** LAYOUT **/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
}

.name {
  font-weight: bold;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  .name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-list-item-description {
    display: none;
  }
}

.footer {
  text-align: center;
  height: 80px;
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  font-weight: bold;
}

.footer .copyright {
  font-size: 0.8em;
  color: var(--white);
}

.footer a:visited {
  color: var(--white) !important;
}

address > a {
  font-size: 1em;
  color : var(--white);
}

.l-section {
  padding-top: 20px;
  min-height: 550px;
}

/** MODULES **/
.menu {
  margin-block-start: 1em;
  margin-block-end: 1em;
  display: flex;
  flex-direction: row;
}

.menu-item {
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.menu-link {
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
  font-weight: bold;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home > h1 {
  text-align: center;
  color: var(--main-color);
}

.home > h2 {
  color: var(--secondary-color);
  text-align: center;
}

.home > p {
  color: var(--secondary-color);
  font-size: 1.1em;
  max-width: 500px;
  text-align: center;
}

.social > a {
  text-decoration: none;
}

.service {
  background-color: var(--dark-gray);
}

.service .section-title {
  color: var(--white);
}

.section-title {
  text-align: center;
  font-size: 2em;
  color: var(--main-color);
  text-transform: uppercase;
  margin: 0;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.services-list-card {
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 2px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 20px;
}

.services-list-card h3 {
  color: var(--white);
}

.services-list-card p {
  text-align: justify;
  color: var(--white);
  font-weight: bold;
}

.services-list-card .fas,
.far {
  font-size: 3em;
  color: var(--main-color);
}

.projects-list {
  display: flex;
  justify-content: center;
}

.project-list-item {
  width: 1000px;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  flex-flow: wrap;
}

.project-list-item-logo {
  background-color: #b1e0ff;
  height: 100%;
  width: 250px;
  display: flex;
  justify-content: center;
}

.project-list-item-logo a {
  display: inherit;
}

.project-list-item-description {
  width: 750px;
  height: 100%;
}

.project-list-item-description p {
  padding: 10px;
  text-align: justify;
}

.iv .project-list-item-logo {
  background-color: #b1e0ff;
}

.iv .project-list-item-description {
  background-color: var(--dark-gray);
  color: var(--white);
}

.techs a {
  display: inline-block;
  margin-right: 10px;
}

.techs a:visited {
  color : var(--white);
}

#contact {
  min-height: 650px;
}

.contact-form {
  margin: 0 auto;
  width: 80%;
}

.contact-form-description {
  text-align: center;
  width: 100%;
}

.contact-form label {
  display: block;
  color: var(--main-color);
}

.contact-form input {
  height: 50px;
  border: none;
  width: 100%;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  color: var(--gray);
}

.contact-form > div {
  margin-bottom: 15px;
}

.contact-form button[type="submit"] {
  height: 50px;
  width: 100px;
  border: none;
  color: white;
  background-color: var(--main-color);
  font-weight: bold;
  float: right;
}

.contact-form textarea {
  height: 150px;
  border: none;
  border: 1px solid var(--light-gray);
  width: 100%;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  color: var(--gray);
}