:root {
  --main-color: #1c795a; 
  --white: #FFFFFF;
  --gray: #6A7B76;
  --light-gray: #CBD2D0;
  --secondary-color: #63ADF2;
}

@media (max-width: 600px) 
{
  .main-header 
   {
    display: none !important;
   }
}

html {
  background-color: var(--white);
  font-size: 16px;
  font-family: 'Roboto', sans-serif; 
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.4em;
}

.content-section {
  min-height: 500px;
}

.home {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
  border-bottom: 1px solid var(--secondary-color);
  border-top: 1px solid var(--secondary-color);
}

.home h1 {
  text-align: center;
}

.home h2 {
  color: var(--gray);
  text-align: center;
}

.home p {
  color: var(--gray);
  font-size: 1.1em;
  max-width: 500px;
  text-align: center;  
}

form label {
  display: block;
  color: var(--gray);
}

form input {
  height: 50px;
  border: none;
  width: 350px;
  border-bottom: 1px solid var(--gray);
}

form > div {
  margin-bottom: 15px;
}

form button[type=submit] {
  height: 50px;
  width: 100px;
  border: none;
  color: white;
  background-color: var(--secondary-color);
  font-weight: bold;
  float: right;
}

form textarea {
  height: 150px;
  border: none;
  border-bottom: 1px solid var(--gray);
  width: 100%;
}

.section__title {
  text-align: center;
  font-size: 2em;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
}

.main-header span {
  font-weight: bold;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.menu li a {
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
  font-weight: bold;
}

footer {
  text-align: center;
  height: 80px;
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  font-weight: bold;
}

footer a {
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 15px;
}

footer .copyright {
  font-size: 0.8em;
  color: var(--white);
}

footer a:visited {
  color: var(--white);
}

.services__list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
  background-color: #ececec;
}

.services__list .card {
  width: 300px;
  height: 300px;
  text-align: center;
  /*border: 1px solid var(--light-gray);*/
  border-radius: 2px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 20px;
}

.card h3 {
  color: var(--secondary-color);
}

.card p {
  text-align: justify;
  color: var(--gray);
}

.card .fas, .far {
  font-size: 3.0em;
  color : var(--main-color);
}

.contact .section__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*
 * atomic
 */
.bold {
  font-weight: bold;
}
