:root {
  --main-color: #126f50; 
  --gray: #666666;
  --white: #ffffff;
}

html {
  background-color: var(--white);
  font-size: 16px;
  font-family: 'Roboto', sans-serif; 
}

body {
  margin: 0;
}

.content-section .home {
  text-align: center;
}

h1 {
  font-size: 3.0em;
}

h2 {
  font-size: 2.5em;
}

.role {
  font-size: 2em;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  color: var(--gray);
}

.contact i {
  display: inline-block;
  margin: 10px 0;
}

.border-button {
  cursor: pointer;
  color: var(--white);
  width: 100px;
  border: 2px solid var(--white);
  background-color: transparent;
  padding: 10px 20px;
  outline: none;
}

.home {
  background-color: var(--main-color);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: flex-end;
}

.home__description {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 50px;
  background-color: white;
  color: black;
  width: 100%;
}

.home__title {
  text-align: center;
}

.home__description p {
  background-color: #eaeaea;
  padding: 10px;
  height: 100%;
  margin: 0;
  font-size: 1.2em;
}

.about {
  color: var(--gray);
  min-height: 100vh;
}

.about img {
  border-radius: 50%;
}

.about p {
  font-size: 20px;
}

.me {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--main-color);
  color: var(--white);
  position : fixed;
  top : 0;
  left : 0;
  width: 100%;
}

.main-header span {
  font-weight: bold;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.menu li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.slider {
  list-style-type: none;
}

.card {
  padding: 15px;
  text-align: center;
  border: 1px solid #CCCCCC;
}

.card__header {
  font-size: 3em;
  color: var(--gray);
}

.card__header h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/*
 * atomic
 */
.bold {
  font-weight: bold;
}
